.boxx {
    width: 300px;
    height: 150px;
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 510px;
  }
  
  .boxx h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .boxx h2 {
    font-size: 20px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .boxx h3 {
    font-size: 16px;
    color: #999;
  }
  